.logo{
    font-family: 'Lobster', cursive;
    font-weight:bolder;
}
.login-page-background{
    width:100%;
    height:100vh;
    background-image:url('../img/nature.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    padding:0;
    margin:0;
}
.dark-background{
    width:100%;
    height:100vh;
    background-color:#000;
    opacity:0.8;
    display:flex;
    justify-content:center;
    align-items: center;
}
.login-section{
    background-color:#FFFFFF;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1em;
}
.login-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.signup-txt{
    display:flex;
    justify-content:center;
    align-items:center;
}