.logo{
    font-family: 'Lobster', cursive;
    font-weight:bolder;
}
.login-page-background{
    width:100%;
    height:100vh;
    background-image:url('../img/nature.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    padding:0;
    margin:0;
}
.dark-background{
    width:100%;
    height:100vh;
    background-color:#000;
    opacity:0.8;
    display:flex;
    justify-content:center;
    align-items: center;
}
.login-section{
    background-color:#FFFFFF;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1em;
}
.login-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.signup-txt{
    display:flex;
    justify-content:center;
    align-items:center;
}
.quote{
    text-align:center;
}
.author{
    text-align:center;
    font-weight:bold;
}
.sidebar{
    min-height:100vh;
    background-color:#050f18;
    color:#FFFFFF;
    padding:0px;
    margin:0px;
}
.profile-header{
    padding:0.5em;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.logo{
    width:100px;
    border-radius:50%;
}
.logout-link{
    text-decoration:none;
    color:#FF0000;
}
.sidebar-nav{
    width:100%;
    margin:0px;
    padding:0px;
}
.sidebar-nav li{
    list-style-type:none;
}
.sidebar-nav li a{
    text-decoration:none;
    color:#FFFFFF;
    display:block;
    padding:0.5em;
}
.sidebar-nav li a:hover{
    font-weight:bolder;
    background-color:#22323f;
}