{% extends '/dashboard/dashboard.html' %}
{% block dashboard_content %}
<div class="row">
    <div class="col">
        <div class="blog-title-section">
            <h4>Blog</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ url_for('my_blogs') }}">My blogs</a></li>
                  <li class="breadcrumb-item active" aria-current="page">New blog</li>
                </ol>
              </nav>
        </div>
        
        <form>
            <input type="hidden" id="user" value="{{ current_user.id }}">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="blog-title" placeholder="Blog title">
              </div>
              <div class="mb-3">
                <label for="blog" class="form-label">Blog content</label>
                <textarea name="blog" id="blog" rows="10" cols="80">
                </textarea>
              </div>
              <div class="mb-3">
                  <button class="btn btn-primary" id="submit-blog">Save blog</button>
              </div>
        </form>
    </div>
</div>
{% endblock %}